


:root{
    --background-body: rgb(25 32 37) ;
    --background-bouton: rgb(157, 180, 192);
    --background-color3: rgb(92, 107, 115);
    --text-color1: rgb(224, 251, 252);
    --outline-color1: rgb(194, 223, 227);
    
}
body{
    background-color: var(--background-body);
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title{
    align-self: center;
    font-size: 30px;
    color: var(--text-color1);
}

header {
    
    background-color: var(--background-color3);
    outline: 5px solid var(--outline-color1);
    outline-offset: -5px;
    height:fit-content;
    text-align: center;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
nav li {
    display: inline-block;

  }
  nav a {
    position: relative;
    display: flex;
    padding: 4vh;
    margin: 1vh;
    color: var(--text-color1);
    text-decoration: none;
    background-color: var(--background-bouton );
    border-radius: 50px;

    
  }
  .button:hover{

    
    
    background-color: var(--background-body);
  }


accueil{
    display: flex;
    flex-direction: column;
    margin: 4vw;
    padding: 4vw;
    gap: 0px;
    background-color: var(--background-color3);
    color: var(--text-color1);
    outline: 5px solid var(--outline-color1);
    outline-offset: -5px;
}

.MaPhoto{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    align-self: center;
}

/*Page Contact*/

.Contact{
    display: flex;
    flex-direction: column;
    padding: 3vw;
    gap: 5px;
    background-color: var(--background-color3);
    color: var(--text-color1);
    outline: 5px solid var(--outline-color1);
    outline-offset: -5px;
    width: 400px;
    height: fit-content;
    margin: 70px auto; 
    text-align: center;
}
form{
    flex-direction: column;
    width: 200px;
    margin: 0 auto; 
    padding: 25px;
    

}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    
}

footer {
    padding: 20px;
    display: flex;
    justify-content: center;

}

.MeTrouver {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
nav img {
    width: 100px;
    height: 50px;
    margin: 0 10px;
    cursor: pointer;
    
}

/*Page de À propos*/

.Biographie-p{
    background-color: var(--background-color3);
    color: var(--text-color1);
    outline: 5px solid var(--outline-color1);
    outline-offset: -5px;
    margin: 4ch;
    padding: 10px;
    font-size: x-large;
    text-align: center;
    font-style: oblique;
}


compétence{

    display: flex;
    flex-direction: column;
    left: 25%;
    width: 50%;
    margin: 30px auto;
    padding: 4vh;
    align-items: center;
    background-color: var(--background-color3);
    color: var(--text-color1);
    outline: 5px solid var(--outline-color1);
    outline-offset: -5px;
}
compétence li{
    font-size: 25px;
}

/*Page Projets*/
.Projects{
    display:flex;
    flex-direction: column;
    margin:50px;
    align-items: center;
    gap: 125px;
}
.project1{
    
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    padding: 40px;
    gap: 25px;
    align-items: center;
    background-color: var(--background-color3);
    color: var(--text-color1);
    outline: 5px solid var(--outline-color1);
    outline-offset: -5px;
}
.project2{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    padding: 40px 40px 90px;
    gap: 25px;
    align-items: center;
    background-color: var(--background-color3);
    color: var(--text-color1);
    outline: 5px solid var(--outline-color1);
    outline-offset: -5px;
}
.imgtaille{
    width: 200px;
    height: 200px;
    
}